@import '../../sass/colors';

#card-product {
  display: flex;
  justify-content: center;
  align-items: center;
  .card-product-image {
    z-index: 5;
    width: 380px;
    
  }
  .right {
    margin-right: 24px;
    text-align: left;
  }
  .left {
    margin-left: 24px;
    text-align: right;
  }
}